@font-face {
  src: url(font/vapeur.otf);
  font-family: vapeur;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.project-hero {
  height: 100vh;
  background-image: linear-gradient(to right bottom, #393e46a4, #ffd269a8),
    url('images/légumes.jpg');
  background-size: cover;
  background-position: top;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.project-hero__logo {
  font-family: vapeur;
  font-size: 80px;
  color: #eeeeee;
  margin-bottom: 20px;
}

span {
  background-color: #ffd369;
  padding-top: 5px;
  color: #393e46;
}

.hero-content {
  display: flex;
  width: 50%;
}
form {
  width: 100%;
}
.project-hero__input {
  padding: 5px;
  width: 70%;
  border-radius: 15px;
}

.btn {
  padding: 3px;
  font-size: 18px;
  border-radius: 10px;
}

.project-view {
  height: 300px;
  width: 350px;
  background-color: green;
  margin: 15px;
  text-align: center;
}

.project-result {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
