@font-face {
  src: url(font/vapeur.woff);
  font-family: vapeur;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #393e46;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

/**HERO**/
.project-hero {
  height: 90vh;
  background-image: linear-gradient(to right bottom, #393e46a4, #ffd269a8),
    url('images/légumes.jpg');
  background-size: cover;
  background-position: top;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.project-hero__logo {
  font-family: vapeur;
  font-size: 80px;
  color: #eeeeee;
  margin-bottom: 20px;
  margin-top: 0;
}

span {
  background-color: #ffd369;
  padding-top: 5px;
  color: #393e46;
}

.hero-content {
  padding-top: 20px;
  display: flex;
  width: 50%;
}

form {
  width: 100%;
}
.project-hero__input {
  padding: 5px;
  width: 60%;
  border-radius: 15px;
}

.project-hero__input:focus {
  background-color: #ffd369;
}

::placeholder {
  color: #393e46;
  font-size: 18px;
}

.btn {
  padding: 5px;
  font-size: 18px;
  border-radius: 10px;
}

.project-hero__btnAll {
  background-color: #ffd369;
  color: #222831;
}

.project-hero__angles {
  margin-top: 30px;
  font-size: 35px;
  color: white;
}

.project-hero__angles--up {
  color: #222831;
  background-color: #ffd369;
  padding: 15px;
  border-radius: 30%;
  position: fixed;
  bottom: 0px;
  right: 0;
  margin: 10px;
  z-index: 1;
}

/**CONTENT**/

h2 {
  text-align: center;
}

.project-view {
  height: 250px;
  width: 280px;
  background-color: #ffd269c9;
  margin: 15px;
  text-align: center;
  box-shadow: 5px 5px 5px #393e46be;
}

.project-result {
  height: 90vh;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*MEDIA QUERIEs*/

@media screen and (max-width: 480px) {
  .hero-content {
    width: 100%;
  }
  .project-hero__input {
    padding: 5px;
    width: 100%;
    border-radius: 15px;
  }
  .btn {
    margin-top: 10px;
  }
  body {
    font-size: 18px;
  }
  .project-hero {
    height: 90vh;
    background-image: linear-gradient(to right bottom, #393e46a4, #ffd269a8),
      url('images/légumes-mobile.jpg');
    background-size: cover;
    background-position: top;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
